body {
    background-color: transparent;
    color: #fff;
    text-align: center;
}

.game-title {
    margin-bottom: 1rem;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Add space below the canvas */
}

canvas {
    background-color: rgba(0, 0, 0, 0.5); 
    border: 1px solid var(--primary);
    box-shadow: 0 0 20px rgba(0, 220, 130, 0.5);
}