<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/floating-dots.css" | relative_url }}">

    {% seo %}
  </head>
  <body>
    <div class="floating-dots-container" id="dots-container"></div>

    {% if page.url == '/' or page.url == '/index.html' %}
      <h2 class="mume-header" id="mainindexhtml-nbspnbsp-contactcontacthtml"><a href="/index.html">Main</a>&#xA0;&#xA0;&#xA0;<a href="/posts/awscloud/index.html">awscloud</a>&#xA0;&#xA0;&#xA0;<a href="/posts/VulnHub/index.html">VulnHub</a>&#xA0;&#xA0;&#xA0;<a href="/posts/pwnedlabs/index.html">PwnedLabs</a>&#xA0;&#xA0;&#xA0;<a href="/posts/picoCTF/index.html">picoCTF</a>&#xA0;&#xA0;&#xA0;<a href="/posts/Articles/index.html">Articles</a>&#xA0;&#xA0;&#xA0;<a href="/hack/">Hack</a></h2>
      <button id="gameButton" title="Play Game">GAME</button>
      <button id="hackButton" title="Hack Section">HACK</button>
    {% elsif page.url contains '/games/' and page.url != '/games/' %}
      <button id="gameMenuButton" title="Game Menu">GAME MENU</button>
    {% else %}
      <button id="homeButton" title="Back to Home">HOME</button>
    {% endif %}

    <div class="container">
      {{ content }}
    </div>
    <script src="{{ "/assets/js/dynamic.js" | relative_url }}"></script>
    <button id="scrollToTopBtn" title="Go to top">&#x2191;</button>
    <script src="{{ "/assets/js/floating-dots.js" | relative_url }}"></script>
  </body>
</html>
